@model List<SozlesmeSistemi.Models.Contract>

@{
    ViewData["Title"] = "KarsiReddet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<section class="content">
    <div class="row layout-top-spacing">
        <div class="col-lg-12 layout-spacing">
            <div class="widget-content">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Onaylanmayan Sözleşmeler</h5>
                    </div>


                    <div class="card-body">
                        <table id="contractTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sıra No</th>
                                    <th>Başlık</th>
                                    <th>Sözleşme Konusu</th>
                                    <th>Sözleşme Türü</th>
                                    @*<th>İmza/Onay Tarihi</th>*@
                                    <th>Bitiş Tarihi</th>
                                    @*<th>Sözleşme Süresi</th> *@
                                    <th>İşlem</th>
                                   

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    int rowNumber = 1;
                                    foreach (var request in Model)
                                    {
                                        <tr>
                                            <td>@rowNumber</td>
                                            <td>@request.Title</td>
                                            <td>@request.SozlesmeKonusu</td>
                                            <td>@request.SozlesmeTuru</td>
                                            @*                 <td>@(contract.ImzaOnayTarihi?.ToString("dd/MM/yyyy"))</td>
 *@                                         <td>@(request.FinisDate?.ToString("dd/MM/yyyy"))</td>
                                            @*                 <td>@contract.SozlesmeSuresi</td>
 *@                                         <td>
                                                <a asp-controller="Sozlesme" asp-action="KarsiRedIncelemeSayfasi" asp-route-id="@request.Id" class="btn btn-primary">İncele</a>
                                            </td>

                                        </tr>
                                        rowNumber++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">Henüz sözleşme yok.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/js/tinymce-custom.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/js/datatablefiltre.js"></script>
}



